* {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-family: 'Franklin Gothic Light', 'Arial Narrow', Arial, sans-serif;
  font-weight: 100;
  background-color: aliceblue;
}
b {
  font-weight: bold;
}