---
const {style, items} = Astro.props;
import "../styles/list.scss"
---

<div class={style}>
  {items.map((item: string) => 
    <div class="item">
      {`${item}:  ${new Date(Date.now()).toDateString()}`} 
    </div>
)}
</div>